{% extends 'base.html.twig' %}

{% block body_id 'comment_form_error' %}

{% block stylesheets %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block main %}
    <h1 class="text-danger">{{ 'title.comment_error'|trans }}</h1>

    <div class="well">
        {{ include('blog/_comment_form.html.twig') }}
    </div>
{% endblock %}

{% block sidebar %}
    {{ render(controller('App\\Controller\\CategoryController::showCategories')) }}
    {{ render(controller('App\\Controller\\TagController::showTagsCloud')) }}
    {{ include('blog/_socials_buttons.html.twig') }}
    {{ include('blog/_rss.html.twig') }}
{% endblock %}

