{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block title %}{{ 'site'|trans }} - {{ post.title }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block main %}
    <h1>{{ post.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|date('d/m/Y h:m') }}</span>
    </p>

    <div class="form-group size-image">
        {% if post.imageName and post.videoId is null %}
            <img class="responsive" src="{{asset('/uploads/images/' ~ post.imageName) | imagine_filter('post_show')}}" title="{{ post.title }}" alt="{{ post.title }}" />
        {% else %}
            {% set thumbnail = 'https://i.ytimg.com/vi/'~ post.videoId ~'/maxresdefault.jpg' %}
            <img class="responsive" src="{{thumbnail}}" title="{{ post.title }}" alt="{{ post.title }}" />
        {% endif %}
    </div>

    {{ post.content|md2html }}

    {% if post.videoId is not null %}
        {% set linkVideo = 'https://www.youtube.com/embed/'~post.videoId %}

        <iframe width="100%" height="400" src={{ linkVideo }} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endif %}

    {{ include('blog/_post_tags.html.twig') }}

    <div id="post-add-comment" class="well">
        {{ render(controller('App\\Controller\\BlogController::commentForm', {'id': post.id})) }}
    </div>

    <h3>
        <i class="fa fa-comments" aria-hidden="true"></i> {{ 'post.num_comments'|trans({ 'count': post.comments|length }) }}
    </h3>

    {% for comment in post.comments %}
        <div class="row post-comment">
            <a name="comment_{{ comment.id }}"></a>
            <h4 class="col-sm-3">
                <strong>{{ comment.name }}</strong> {{ 'post.commented_on'|trans }}
                {# it's not mandatory to set the timezone in localizeddate(). This is done to
                   avoid errors when the 'intl' PHP extension is not available and the application
                   is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
                <strong>{{ comment.publishedAt|date('d/m/Y h:m') }}</strong>
            </h4>
            <div class="col-sm-9">
                {{ comment.content|md2html }}
            </div>
        </div>
    {% else %}
        <div class="post-comment">
            <p>{{ 'post.no_comments'|trans }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {{ render(controller('App\\Controller\\CategoryController::showCategories')) }}
    {{ render(controller('App\\Controller\\TagController::showTagsCloud')) }}
    {{ include('blog/_rss.html.twig') }}
{% endblock %}
